body {
  .news {
    .swiper {
      .swiper-wrapper {
        .swiper-slide {
          figure {
            aspect-ratio: 16/9;

            picture {
              display: block;
              height: 100%;        

              img {
                height: 100% !important;
                object-fit: cover !important;
              } 
            }
          }
        }
      }
    }
  }
}
