<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" 
	xmlns:newsslider="http://typo3.org/ns/T3S/Newsslider/ViewHelpers" data-namespace-typo3-fluid="true">		

<f:alias map="{mediaElement: newsItem.falMediaPreviews.0}">
	<f:if condition="{settings.nivoslider.imageLink}">
		<f:then>
			<newsslider:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
				<f:render section="media" arguments="{_all}" />
			</newsslider:link>
		</f:then>
		<f:else>
			<f:render section="media" arguments="{_all}" />
		</f:else>
	</f:if>
</f:alias> 


<f:section name="media">
	Bananenkuchen
	<f:if condition="{newsItem.falMediaPreviews}">
		<f:then>
			<f:media
				file="{mediaElement.originalResource}"
				alt="{mediaElement.originalResource.alternative}"
				title="{f:if(condition: '{settings.nivoslider.captions}',then: '#htmlcaption-{i.cycle}')}"		
				width="{width}c"
				height="{settings.nivoslider.height}c"
				class="img-responsive"		
			/>
		</f:then>
		<f:else>
			<f:media
				file="{settings.list.media.dummyImage}"
				alt="{mediaElement.originalResource.alternative}"
				title="{f:if(condition: '{settings.nivoslider.captions}',then: '#htmlcaption-{i.cycle}')}"		
				width="{width}c"
				height="{settings.nivoslider.height}c"
				class="img-responsive"
			/>	
		</f:else>
	</f:if>
</f:section>
</html>
