<html lang="" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="wsmenucontainer clearfix">
	<div class="overlapblackbg"></div>

	<div class="wsmobileheader clearfix">
		<a id="wsnavtoggle" class="animated-arrow"><span></span></a>
		<a class="smallogo"></a>
	</div>

	<div class="headerbackground">
		<div class="container headerlogo image">
			<f:image src="EXT:sitepackage_schachverein_balingen_ev/Resources/Public/Images/logos/logo.png" alt="Logo des Schachvereins Balingen e.V." class="headImg1" />
		</div>
	</div>

	<div class="navwrapper navbar-inverse">
		<div class="container">
			<nav class="wsmenu pm_buttoncolor2 tranbg">
				<f:format.html>{webslidemenu}</f:format.html>
			</nav>
		</div>
	</div>

<!--
	<div id="breadcrumb" class="container">
		<div class="row">
					<div class="col-xs-12 col-sm-12">
						<f:format.html>{breadcrumb}</f:format.html>
					</div>
		</div>
	</div>
-->
	<div id="main" class="container theme-showcase" role="main">
		<div class="row">
			<f:if condition="{sidebar}">
				<f:then>
					<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
						<f:format.html>{sidebar}</f:format.html>
					</div>
					<div class="col-xs-12 col-sm-9"> 
						<f:render section="content" />
					</div>	
				</f:then>
				<f:else>
					<div class="col-xs-12">
						<f:render section="content" />
					</div>
				</f:else>
			</f:if>
		</div>
	</div>	
</div>

<footer class="footer navbar-inverse navbar-fixed-bottom">
	<div class="container">
		 <f:format.html>{navfooter}</f:format.html>
	</div>
</footer>
</html>
